<div id="<%= dom_id job %>">
  <p>
    <strong>Shift date:</strong>
    <%= job.shift_date %>
  </p>

  <p>
    <strong>Opener:</strong>
    <%= job.opener_id %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= job.cover_id %>
  </p>

  <p>
    <strong>Location name:</strong>
    <%= job.location_name %>
  </p>

  <p>
    <strong>Shift started at:</strong>
    <%= job.shift_started_at %>
  </p>

  <p>
    <strong>Shift ended at:</strong>
    <%= job.shift_ended_at %>
  </p>

  <p>
    <strong>Location address:</strong>
    <%= job.location_address %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= job.job_type.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= job.job_type_id %>
  </p>

</div>
