<!DOCTYPE html>
<html>
  <head>
    <title>ShiftCover</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <%= favicon_link_tag 'job-offer.png', rel: 'icon', type: 'image/png' %>


    <%= javascript_importmap_tags %>
    <%= render partial: "shared/cdn_assets" %>

  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class="container mt-4">
      <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
      <% if controller_name == 'home' && action_name == 'index' %>
      <div class="row">
        <%= render 'shared/sidebar' %>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>
